<% include ../partials/h %>

<div class="container">
        <h1 class="write" style="text-align: center;">Welcome to Lazylife</h1>
        <br>
        <div class="jumbotron op">
            <div class="in">
                    <p>
                            Make your Simple follow these simple steps to get your laundry done with these Simple Stepsat reasonable price.
                            Find ur dhobhi.
                            Place ur request.
                            you're done.
                    </p>
            </div>
        </div>
        <br>
        <form action="/laundry" method="GET">
            <button class="btn btn-success btn-lg btn-outline-dark btn-block">Use as Customer</button>
        </form>
        <br>
        <form action="/dho/login" method="GET">
            <button class="btn btn-primary btn-lg btn-outline-dark btn-block">Use as laundry Man</button>
        </form>
</div>

<% include ../partials/footer %>